@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kalam:wght@300;400;700&family=Orbitron:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap');

:root {
  --bg-dark-primary: #324a5f;
  --bg-dark-secondary: #1b2a41;
  --bg-dark-tertiary: #0c1821;
  --bg-dark-quaternary: #000000;
  --bg-gray-primary: #dee2e6;
  --bg-gray-secondary: #ced4da;
  --bg-gray-tertiary: #6c757d;
  --bg-gray-quaternary: #6c757d;
  --bg-sky-primary: #00e2fe;
  --bg-sky-secondary: #00d4fd;
  --bg-sky-tertiary: #00b7fc;
  --bg-sky-quaternary: #009afb;
  --bg-orange-primary: #ff9e00;
  --bg-orange-secondary: #ff8500;
  --bg-orange-tertiary: #ff7900;
  --bg-orange-quaternary: #ff6d00;
  --bg-white-primary: #fafaff;
  --bg-white-secondary: #f8f8f8;
  --bg-white-tertiary: #f3f8f2;
  --bg-white-quaternary: #f9f9f9;
  --bg-blue-primary: #2196f3;
  --bg-blue-secondary: #1e88e5;
  --bg-blue-tertiary: #1565c0;
  --bg-blue-quaternary: #0d47a1;
  --bg-yellow-primary: #ffea00;
  --bg-yellow-secondary: #ffd000;
  --bg-yellow-tertiary: #ffc300;
  --bg-yellow-quaternary: #ffaa00;
  --bg-brown-primary: #cd9777;
  --bg-brown-secondary: #b07d62;
  --bg-brown-tertiary: #8a5a44;
  --bg-brown-quaternary: #774936;
  --bg-green-primary: #00ff00;
  --bg-green-secondary: #00e600;
  --bg-green-tertiary: #00b300;
  --bg-green-quaternary: #009900;
  --bg-red-primary: #f92432;
  --bg-red-secondary: #e30613;
  --bg-red-tertiary: #c70512;
  --bg-red-quaternary: #77030b;
  --bg-violet-primary: #9d4edd;
  --bg-violet-secondary: #5a189a;
  --bg-violet-tertiary: #3c096c;
  --bg-violet-quaternary: #240046;
  --bg-turquoise-primary: #40c0c0;
  --bg-turquoise-secondary: #2ca3a6;
  --bg-turquoise-tertiary: #19878d;
  --bg-turquoise-quaternary: #056a73;
  --bg-pink-primary: #ff74b2;
  --bg-pink-secondary: #ff4598;
  --bg-pink-tertiary: #ff177f;
  --bg-pink-quaternary: #ff0072;
  --bg-white-main: #ffffff;
  --bg-gray-main: #b7b7b7;

  --shadow-color: rgba(144, 149, 159, 0.25);
  --box-shadow: 0 2rem 3rem var(--shadow-color)
}

html {
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg-white-main);
  /* background-image: url(/public/img/bg.jfif); */
  background-size: cover;
  background-position: center;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/public/img/bg.jfif);
    background-size: cover;
    background-position: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,*{
  box-sizing: border-box;
  font-size: 62.5%;
} */